<!Doctype html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to BlockBounty</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            li{
                padding: 4px;
                font-size: 18px;
            }
            p{
                font-size: 18px;
            }
            a{
                font-size: 18px;
            }
        </style>

    </head>

    <body class="row">


        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 offset-1 offset-lg-2" style="padding: 16px;">

            <div id="header"  style="padding:16px 0;">

                <a href="/" style="margin-right: 16px;">Home</a>

                <div style="float:right;">
                    <a href="/about" style="margin-right: 16px;">About</a>
                    <a href="mailto:pranay.iitm@gmail.com">Contact Us</a>
                </div>



            </div>

            <p style="padding:32px 0;">

                BlockBounty is a blockchain based bug bounty platform. It is being developed by <a href="http://pranay01.com" target="_blank" style="display: inline;">Pranay Prateek</a> and <a href="http://ankitnayan.com" target="_blank" style="display:inline; ">Ankit Nayan</a>

            </p>

        </div>

    </body>

</html>