<!Doctype html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to BlockBounty</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>

    <body>

        <div class="container">

            <div id="header"  style="padding:16px 0;">

                <a href="/" style="margin-right: 16px;">Home</a>

                <div style="float:right;">
                    <a href="/about" style="margin-right: 16px;">About</a>
                    <a href="mailto:pranay.iitm@gmail.com">Contact Us</a>
                </div>



            </div>

            <div style="padding:32px 0;">

                BlockBounty is a blockchain based bug bounty platform. It is being developed by <a href="http://ankitnayan.com" target="_blank" style="display:inline; ">Ankit Nayan</a>  and  <a href="http://pranay01.com" target="_blank" style="display: inline;">Pranay Prateek</a>

            </div>

        </div>

    </body>

</html>